#aboutMe {
    min-height: 60vh;
    width: 100%;
    justify-content: center;
    padding: 5% 0;
}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-description {
    font-family: "Darker Grotesque", sans-serif;
    line-height: 30px;
    font-weight: 500;
    color: var(--secondary);
    max-width: 500px;
    font-size: 22px;
}

.about-description a,
.about-description b {
    font-size: 21px;
    font-weight: bold;
    color: var(--primary);
}

.about-description ul {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 10px));
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 600;
}

.about-description li {
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    color: var(--secondary);
    white-space: nowrap;
}

.about-description li::before {
    content: "☾    ";
    color: var(--primary);
    position: absolute;
    left: 0;
}


.about-image {
    padding-left: 40px;
    padding-top: 100px
}

.about-image img {
    max-width: 410px;
    height: auto;
    border-radius: 100%;
    margin-left: 50px;
    box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
    border: none;
}

@media only screen and (max-width: 799px) {
    #about {
        height: unset;
        padding-left: unset;
        padding-right: unset;
        padding-top: 30%;
    }

    .about-description {
        font-size: 18px;
        text-align: justify;
    }

    .about-description a,
    .about-description b {
        font-size: 17px;
    }

    .about-image img {
        display: none;
    }

    .about-content {
        display: unset;
    }

    .about-description ul {
        padding-top: 10px;
        padding-bottom: 10px;
        grid-template-columns: repeat(2, minmax(160px, 10px));
    }
}
