#aboutMe {
    min-height: 60vh;
    width: 100%;
    justify-content: center;
    padding: 5% 0 0 0
}

.about-content {
    display: flex;
    flex-direction: row;
    margin: 80px auto;
}

.about-description {
    max-width: 650px;
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    color: var(--text-light);
    font-weight: 200;
    text-align: justify;
}

.about-description a,
.about-description b {
    font-size: 21px;
    font-weight: bold;
}

.about-description ul {
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 10px));
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 600;
}

.about-description li {
    position: relative;
    padding-left: 20px;
    font-size: 20px;
    white-space: nowrap;
}

.about-description li::before {
    content: "☾";
    position: absolute;
    left: 0;
}

.about-image-board {
    margin-left: 100px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 155px;
    grid-gap: 7px;
}

.about-image {
    padding: 8px 8px 26px 8px;
    border-radius: 2px;
    background: #ccc;
    max-height: 120px;
    max-width: 120px;
}

.about-image img {
    max-width: 120px;
    border-radius: 2px;
    box-shadow: none;
}

@media only screen and (max-width: 1000px) {
    #about {
        height: unset;
        padding-left: unset;
        padding-right: unset;
    }

    .about-description {
        font-size: 18px;
        text-align: justify;
    }

    .about-description a,
    .about-description b {
        font-size: 17px;
    }

    .about-image img {
        display: none;
    }

    .about-content {
        display: unset;
    }

    .about-description ul {
        padding-top: 10px;
        padding-bottom: 10px;
        grid-template-columns: repeat(2, minmax(160px, 10px));
    }

    .about-description li {
        font-size: 18px;
    }

    .about-image-board {
        margin: 0;
        display: none;
    }
    
    .about-image {
        padding: 0;
        max-height: 0;
        max-width: 0;
    }
}
