#experience {
  min-height: 60vh;
  width: 100%;
  justify-content: center;
  padding: 5% 0 0 0
}

.experience-content {
  display: table;
  flex-direction: row;
  margin: 60px auto;
}

.MuiTab-wrapper {
  font-size: 16px;
  align-items: flex-start !important;
  font-family: "Kanit", sans-serif;
}

.MuiTabs-indicator {
  background: var(--primary-strong) !important;
}

#experience .MuiTab-root {
  padding: 35px 20px !important;
  text-transform: lowercase;
  font-family: "Space Grotesk", sans-serif !important;
  font-size: 20px;
  font-weight: 400;
  font-size: 20px !important;
  align-items: flex-end;
}

.MuiButtonBase-root {
  outline: none !important;
  color: var(--text-light) !important;
}

.Mui-selected {
  color: var(--primary-light) !important;
}

.MuiButtonBase-root:focus {
  color: var(--primary-strong) !important;
}

.experience-item-company {
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: var(--text-strong);
}

.experience-item-title {
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  color: var(--primary-light);
  font-weight: 400;
}

.experience-item-duration {
  font-family: "Space Grotesk", sans-serif;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-light);
  font-weight: 500;
}

.experience-item-description {
  max-width: 650px;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  color: var(--text-light);
  font-weight: 200;
  text-align: justify;
}

.experience-item-description ul {
  list-style: none;
  display: inline-flex;
  padding: 0
}

.experience-item-description li::after {
  content: "|";
  color: var(--text-light);
  position: absolute;
  left: 0;
}

.experience-item-description li {
  position: relative;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 18px;
  color: var(--text-light);
  font-weight: 300;
}

.experience-stacks {
  display: block;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.experience-stacks div:nth-child(1) {
  color: var(--text-strong);
  font-size: 18px;
  font-weight: 500;
  font-family: "Kanit", sans-serif;
  padding: 0 0 20px  0 
}

.experience-stacks div:nth-child(2) {
  color: var(--text-light);
  font-size: 18px;
  font-weight: 300;
}

@media only screen and (max-width: 1000px) {
  #experience {
      height: unset;
      padding-left: unset;
      padding-right: unset;
      padding-top: 12%;
  }

  #experience .MuiTab-root {
    font-size: 18px;
  }

  .jss1 {
    height: unset !important;
    flex-direction: column !important;
  }

  .makeStyles-root-1 {
    height: unset !important;
    width: unset;
    flex-direction: column;
  }

  .experience-item-description {
    font-size: 18px;
    font-weight: 500;
    max-width: 400px;
  }

  .experience-item-title {
    font-size: 18px;
  }

  .experience-item-company {
    font-size: 18px;
  }

  .experience-description {
    text-align: justify;
    max-width: min-content;
    width: 10% !important
  }

  .experience-item-description ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 5px));
  }

  .experience-item-description li {
    position: relative;
    padding-right: 10px;
    padding-bottom: 16px;
    font-size: 18px;
    color: var(--primary-strong);
    font-weight: 600;
  }

}
