#experience {
  min-height: 60vh;
  width: 100%;
  justify-content: center;
  padding: 5% 0;
}

.experience-content {
  display: flex;
  flex-direction: row;
}

.experience-description {
  color: var(--secondary);
  font-family: "Darker Grotesque", sans-serif;
  line-height: 30px;
  font-weight: 500;
  font-size: 22px;
  max-width: 1090px;
}

@media only screen and (max-width: 799px) {
  #experience {
    padding-left: unset;
    padding-right: unset;
  }
}
