#experience {
  min-height: 50vh;
  width: 2000px;
  justify-content: center;
  padding: 5% 0;
}

.experience-content {
  display: flex;
  flex-direction: row;
}

.MuiTab-wrapper {
  font-size: 16px;
  align-items: flex-start !important;
  font-family: "Darker Grotesque", sans-serif;
}

.MuiTabs-indicator {
  background: var(--primary) !important;
}

#experience .MuiTab-root {
  padding: 5px 20px;
  text-align: right !important;
  text-transform: lowercase;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.MuiButtonBase-root {
  outline: none !important;
  color: var(--secondary) !important;
}

.Mui-selected {
  color: var(--lightest-secondary) !important;
  font-weight: 600 !important;
}

.MuiButtonBase-root:focus {
  color: var(--primary) !important;
}

.experience-item-company {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: var(--lightest-secondary);
}

.experience-item-title {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 26px;
  color: var(--primary);
  font-weight: bold;
}

.experience-item-duration {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 18px;
  color: var(--lightest-secondary);
}

.experience-item-description {
  max-width: 650px;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 22px;
  color: var(--secondary);
  font-weight: 500;
  text-align: justify;
}

.experience-item-description ul {
  list-style: none;
  display: inline-flex
}

.experience-item-description li::before {
  content: "☾";
  color: var(--primary);
  position: absolute;
  left: 0;
}

.experience-item-description li {
  position: relative;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 16px;
  font-size: 20px;
  color: var(--secondary);
  font-weight: 600;
}

.experience-item-description a,
.experience-item-description b {
  font-size: 18px;
  font-weight: bold;
}


@media only screen and (max-width: 1000px) {
  #experience {
      height: unset;
      padding-left: unset;
      padding-right: unset;
      padding-top: 12%;
  }

  #experience .MuiTab-root {
    font-size: 18px;
  }

  .jss1 {
    height: unset !important;
    flex-direction: column !important;
  }

  .makeStyles-root-1 {
    height: unset !important;
    width: unset;
    flex-direction: column;
  }

  .experience-item-description {
    font-size: 18px;
    font-weight: 500;
    max-width: 400px;
  }

  .experience-item-title {
    font-size: 18px;
  }

  .experience-item-company {
    font-size: 18px;
  }

  .experience-description {
    text-align: justify;
    max-width: min-content;
  }

  .experience-item-description ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 5px));
  }

  .experience-item-description li {
    position: relative;
    padding-right: 10px;
    padding-bottom: 16px;
    font-size: 18px;
    color: var(--secondary);
    font-weight: 600;
  }

}
