#footer {
    width: 100%;
    height: 12vh;
    justify-content: center;
    padding: 50px 0;
    display: flex;
    background: var(--intro-background);
}

.footer-content {
    display: flex;
    flex-direction: row;
}

.footer-description {
    color: var(--text-strong);
    font-family: "Space Grotesk", sans-serif;
    line-height: 15px;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
}

.footer-content a {
    color: var(--text-light) !important
}

.footer-content a:hover {
    color: var(--primary-strong) !important
}

@media only screen and (max-width: 1000px) {
    .footer-description {
        font-weight: 500;
        font-size: 14px !important;
    }
}
  