:root {
    --background: #1a1a1d;
    --primary: #7971fe;
    --light-background: #112240;
    --lightest-background: #233554;
    --secondary: #8892b0;
    --light-secondary: #a8b2d1;
    --lightest-secondary: #ccd6f6;
}
