:root {
    --background: #111111;
    --intro-background: #000000;
    --box-background: #202020;
    --primary-strong: #64FFDA;
    --primary-light: #8DFFE4;
    --text-strong: #FFFFFF;
    --text-light: #CDCDCD;
}
