#introduction {
  display: flex;
  min-height: 60vh;
  width: 1800px;
  justify-content: center;
  padding: 10% 0 5% 0;
}

.introduction-content {
  display: flex;
  flex-direction: row;
}

.Typist {
  color: var(--lightest-secondary);
  text-align: left;
  font-size: 70px;
}

.Typist .Cursor--blinking {
  color: var(--primary);
  font-weight: 900;
}

.introduction-title {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 60px;
  white-space: nowrap
}

.introduction-description {
  color: var(--secondary);
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 600;
  font-size: 22px;
  max-width: 1090px;
}

@media only screen and (max-width: 1000px) {
  .introduction-title {
    flex-direction: column;
    padding: 40px 24px;
    font-size: 40px;
    text-align: center;
  }

  #introduction {
    width: 100%;
    padding: 25% 0 0 0;
  }

  .Typist {
    font-size: 40px;
  }

  
  .introduction-description {
    text-align: center;
  }
}
