#introduction {
  display: flex;
  min-height: 60vh;
  width: 100%;
  justify-content: center;
  padding: 10% 0 5% 0;
}

.Typist {
  color: var(--lightest-secondary);
  text-align: left;
  font-size: 70px;
}

.Typist .Cursor--blinking {
  color: var(--primary);
  font-weight: 900;
  padding-left: 4px;
}

.introduction-title {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 60px;
  white-space: nowrap
}

.introduction-content {
  display: flex;
  flex-direction: row;
}

.introduction-description {
  color: var(--secondary);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 20px;
  max-width: 60%;
}
