#introduction {
  display: flex;
  min-height: 100%;
  width: 100%;
  justify-content: center;
  padding: 25% 0 0 0;
}

.introduction-content {
  display: flex;
  vertical-align: center;
  flex-direction: row;
}

.introduction-fade {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(45deg, rgb(255, 187, 0),rgba(255, 102, 0, 0.5),rgba(255, 0, 234, 0.5), rgb(255, 0, 255));
  opacity: 0.7;
  border-radius: 100%;
  filter: blur(3rem)
}

.Typist {
  color: var(--lightest-secondary);
  text-align: left;
  font-size: 60px;
}

.Typist .Cursor--blinking {
  color: var(--primary);
  padding: 5px;
  font-weight: 600;
}

.introduction-title {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 60px;
  white-space: nowrap
}

.introduction-description {
  color: var(--lightest-secondary);
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-top: 100px;
}

.introduction-description p {
  color: var(--lightest-secondary);
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-size: 50px;
}

@media only screen and (max-width: 1000px) {
  .introduction-title {
    flex-direction: column;
    padding: 40px 24px;
    font-size: 40px;
    text-align: center;
  }

  #introduction {
    width: 100%;
    padding: 25% 0 0 0;
  }

  .Typist {
    font-size: 40px;
  }

  
  .introduction-description {
    text-align: center;
  }
}
