#myPhotography {
    min-height: 60vh;
    width: 100%;
    justify-content: center;
    padding: 5% 0 0 0
}
  
@font-face {
    font-family: 'Briem Hand';
    src: url('../../public/assets/BriemHand-Regular.ttf')
}

.photography-header {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
  }

.photography-title {
    max-width: 500px;
    font-size: 38px;
    font-family: 'Briem Hand', serif;
}

.photography-title span:nth-child(1), span:nth-child(3) {
    font-family: 'DM Serif Text', serif;
}

.photography-content {
    display: flex;
    flex-direction: row;
    margin: 80px auto;
}