.toolbar {
    background: var(--background);
    box-shadow: none;
    font-family: "Kanit", sans-serif;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    padding: 5px 0
}

.toolbar-contact {
    display: inline-flex;
    font-size: 16px;
    font-weight: bolder;
    font-family: "font-roboto", monospace;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid var(--primary);
    color: var(--primary) !important;
    border-radius: 4px;
    align-items: center;
    text-decoration: none;
  }
  
.introduction-contact:hover {
  background-color: var(--lightest-background);
}

.toolbar-menu-item,
.toolbar-menu-item a {
    font-size: 15px;
    list-style-type: none;
    padding: 0 8px;
    font-weight: 200;
    text-decoration: none;
    color: var(--lightest-secondary);
}

.toolbar-menu-item a:hover {
  color: var(--primary);
}

.toolbar-logo {
    padding-right: 8px;
    color: var(--primary);
    font-size: 20px;
}

.toolbar-language {
  padding: 6px;
  position: absolute;
  right: 0;
  margin: 0 50px;
  font-weight: 300;
  font-size: 12px;
}
