html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #3e3e46;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(100, 99, 116);
  border-radius: 10px;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.App {
  background-color: var(--background);
  display: flex;
  flex-direction: row;
}

#content {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.rs-steps-horizontal .rs-steps-item-content {
  text-align: left;
}

::selection {
  background: var(--lightest-background); /* WebKit/Blink Browsers */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.section-header {
  display: flex;
  padding-bottom: 42px;
  width: 100vw;
}

.section-header::after {
  content: "";
  display: block;
  width: 300px;
  margin-top: 39px;
  height: 1px;
  margin-left: 20px;
}

.section-title {
  font-family: "font-roboto", monospace;
  color: var(--lightest-secondary);
  font-size: 46px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .App {
    flex-direction: column;
    padding: 40px 24px;
  }

  #content {
    padding: 10px 10px;
    width: 100%;
  }

  .section-header {
    width: unset;
  }

  .section-header::after {
    display: none;
  }

  .section-title {
    font-size: 32px;
  }
}
